body 
{
	font-family: 'Lato';
}

#init-orca
{
    background-color: #f4645f;
    border-color: #f4645f;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#init-orca a
{
    color: white;
    text-decoration: none;
}
#init-orca:hover
{
    background-color: #f24640;
    border-color: #f24640;
}
#init-client
{
    background-color: #288feb;
    border-color: #288feb;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#init-client a
{
    color: white;
    text-decoration: none;
}
#init-client:hover
{
    background-color: #1479d2;
    border-color: #1479d2;
}
#veces
{
    color: #003366;
}

.order-image-min 
{
    width: 100%;
    max-width: 100%;
    height: 100px;
}
.btn, body  
{
    font-weight: 300;
}
.btn-primary 
{
    color: #fff;
    background-color: #93a0a1;
    border-color: #93a0a1;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus 
{
    color: #fff;
    background-color: #778788;
    border-color: #93a0a1;
}
.fa-btn 
{
	margin-right: 6px;
}
.take-title
{
    margin: 0;
}
.take-process
{
    margin: 0;
    color: gray;
}
.img-index
{
    height: 140px;
    margin-bottom: 10px;
    width: 50%;
}
.img-panorama-2
{
    max-height: 110px;
    width: 100%;
}
.img-in-form
{
    max-height: 160px;
    width: 100%;
}
.mode-azteca
{
    background-color: #288feb !important;
    border-color: #288feb !important;
}

.margin-artificial
{
    margin-bottom: 250px; 
}
.img-panorama
{
    max-height: 160px;
}
.img-figure
{
    height: 110px;
    width: 100px;
}
.table-margin
{
    margin: 0;
}
.panel-default>.panel-heading 
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
}
.panel-default>.panel-heading 
{
    background-color: #003366;
    border-color: #ddd;
}
.panel-heading 
{
    font-size: 17px;
}
.panel-heading a
{
    color: #4CAF50;
}
.panel-heading a:hover
{
    color: gray;
}






.nav-aztek
{
    color: #f2f2f2 !important;
    background-color: #003366;
}
.nav-aztek .navbar-nav>li>a {
    color: #f2f2f2;
}
.nav-aztek .navbar-nav>li>a:hover {
    color: #f2f2f2;
    background-color: #00264d;
}
.nav-aztek .navbar-brand {
    color:  #f2f2f2;
}
.nav-aztek .navbar-brand:hover {
    background-color: #00264d;
}
.nav-aztek .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: #f2f2f2 !important;
    background-color: #00264d;
}

.nav-orca
{
    color: #f2f2f2 !important;
    background-color: #bf4d40;
}
.nav-orca .navbar-nav>li>a {
    color: #f2f2f2;
}
.nav-orca .navbar-nav>li>a:hover {
    color: #f2f2f2;
    background-color: #ac4539;
}
.nav-orca .navbar-brand {
    color:  #f2f2f2;
}
.nav-orca .navbar-brand:hover {
    background-color: #ac4539;
}
.nav-orca .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: #f2f2f2 !important;
    background-color: #ac4539;
}